
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Privacy policy</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <%-include("plugin")%>
  </head>
  <body >
    <%- include("layout/navbar")%>
    <div class="container-fluid page-body-wrapper">
      <%-include("layout/settingpanel") %>
       <!-- partial -->
       <%- include("layout/sidebar") %>
      
       
        
       

       
         <div class="container">
            <h1>policy</h1>
         
           
           <div class="container">
            <div class="elementor-widget-container">
                            <div class="elementor-text-editor elementor-clearfix">
            <p>We will retain your personal information for as long as needed or permitted in light of the purpose(s) for which it was obtained and consistent with applicable law. The criteria used to determine our retention periods include:</p><ul><li>The length of time we have an ongoing relationship with you and provide the Services to you (for example, for as long as you have an account with us or keep using the Services);</li><li>Whether there is a legal obligation to which we are subject (for example, certain laws require us to keep records of your transactions for a certain period of time before we can delete them); or</li><li>Whether retention is advisable in light of our legal position (such as in regard to applicable statutes of limitations, litigation or regulatory investigations).</li></ul>					</div>
                    </div>
            </div>
    
         </div>
    
   
     
    <%-include("layout/footer")%>
  </body>
</html>