
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Update Category</title>
  </head>
  <body class="bg-info">




    <div class="container mt-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Category update</h4>
          
          <form class="forms-sample"  id="updateSubmit" method="post" enctype="multipart/form-data">
            <input type="hidden" value="<%= categoryUpdate.id %>" name="categoryId">
            <div class="form-group">
              <label for="exampleInputEmail1"> Category name</label>
              <input type="text" value="<%= categoryUpdate.name %>" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
            </div>
    
        <div class="form-group">
          <label for="exampleInputEmail1">Sequence</label>
          <input type="number"  value="<%= categoryUpdate.sequence %>" name="sequence" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter sequence">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Image</label>
          <input type="hidden" name="old_image" value="<%= categoryUpdate.image %>" >
          <input type="file"  name="image" class="form-control" id="exampleInputPassword1" placeholder="select image">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Banner</label>
          <input type="hidden" name="old_banner" value="<%= categoryUpdate.banner %>" >
          <input type="file"   name="banner" class="form-control" id="exampleInputPassword1" placeholder="select banner">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Status</label>
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Status</label>
                </div>
                <select name="status" class="custom-select form-control" id="inputGroupSelect01">
                  <option selected>select status...</option>
                  <option value="1" <%= (categoryUpdate.status==1)?"selected":"" %> >Active</option>
                  <option value="0" <%= (categoryUpdate.status==0)?"selected":"" %>>Inactive</option>
                 
                </select>
    
              </div>
           </div>
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
 






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/CategoryAjax.js"></script>

 
  </body>
</html>