
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>setting</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <%-include("../plugin")%>
  </head>
  <body >
    <%- include("../layout/navbar")%>
    <div class="container-fluid page-body-wrapper">
      <%-include("../layout/settingpanel") %>
       <!-- partial -->
       <%- include("../layout/sidebar") %>
      
       

       <div class="container  bg-light p-2 mt-4 grid-margin stretch-card ">
       
         
        <div class=" grid-margin stretch-card col-md-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">admin setting</h4>
                <p class="card-description">
                  admin
                </p>
                <form class="forms-sample"  action="settingSubmit" method="post" enctype="multipart/form-data" >

                  <input type="hidden" name="adminSettingId"  value="<%= settingData.id %>" >

                  <div class="form-group">
                    <label for="exampleInputUsername1">logo upload</label>
                    <input type="file" name="logoUpload"  value="<%= settingData.logoUpload %>" class="form-control" id="exampleInputUsername1" placeholder="titile" >
                    <input type="hidden" name="updatelogoUpload"  value="<%= settingData.logoUpload %>" class="form-control" id="exampleInputUsername1" placeholder="titile" >
                        
                  </div>

                  <div class="form-group">
                    <label for="exampleInputUsername1">logo upload</label>
                    <img style="max-height: 200px ; min-height: 200px;" src="/userimage/<%= settingData.logoUpload %>" >            
                  </div>
                
                  <div class="form-group">
                    <label for="exampleInputUsername1">Feb icon</label>
                    <input type="file" name="febIcon"  value="<%= settingData.febIcon %>" class="form-control" id="exampleInputUsername1" placeholder="titile" >
                  </div>

                  <div class="form-group">
                    <label for="exampleInputUsername1">logo upload</label>
                    <img style="max-height: 200px ; min-height: 200px; " src="/userimage/<%= settingData.febIcon %>" >            
                  </div>

                  <div class="form-group">
                    <label for="exampleInputUsername1">Email </label>
                    <input type="email" name="email" value="<%= settingData.email %>" class="form-control" id="exampleInputUsername1" placeholder="titile" required>
                  </div>
                
                  <div class="form-group">
                    <label for="exampleInputUsername1">Phone Number </label>
                    <input type="number"  name="phone" value="<%= settingData.phone %>" class="form-control" id="exampleInputUsername1" placeholder="titile" required>
                  </div>
                
                  <div class="form-group">
                    <label for="exampleInputUsername1">Address </label>
                    <input type="text"  name="address" value="<%= settingData.address %>" class="form-control" id="exampleInputUsername1" placeholder="titile" required>
                  </div>
                
               
                  <div class="form-group">
                    <label for="exampleInputUsername1">Facebook </label>
                    <input type="text" name="facebook" value="<%= settingData.facebook %>" class="form-control" id="exampleInputUsername1" placeholder="titile" required>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputUsername1">Instagram</label>
                    <input type="text" name="instagram" value="<%= settingData.instagram %>" class="form-control" id="exampleInputUsername1" placeholder="titile" required>
                  </div>
                 
                  <div class="form-group">
                    <label for="exampleInputUsername1">Driben</label>
                    <input type="text"  name="driven" value="<%= settingData.driven %>"  class="form-control" id="exampleInputUsername1" placeholder="titile" required>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputUsername1">Twitter</label>
                    <input type="text" name="twitter" value="<%= settingData.twitter %>" class="form-control" id="exampleInputUsername1" placeholder="titile" required>
                  </div>
                  
                 
                  <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  <button class="btn btn-light">Cancel</button>
                </form>
              </div>
            </div>
          </div>

  
      </div>
     
      </div>
   
     
    <%-include("../layout/footer")%>
  </body>
</html>