
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title> Sub Category</title>
    <%-include("../plugin")%>
  </head>
  <body class="bg-info" >
    <%- include("../layout/navbar")%>
    <div class="container-fluid page-body-wrapper">
      <%-include("../layout/settingpanel") %>
       <!-- partial -->
       <%- include("../layout/sidebar") %>
       
  

<div class="container p-4">

  <div class="container mt-3 row"> 
    <h3 class="p-2">Sub category</h3>
   <div style="text-align: right;" > <a  href="/getSubCategorypage" class="btn btn-success mb-2">add sub category</a></div>
   </div>

  <table class="table table-striped boader bg-light">
    <thead>
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">sequence</th>
        <th scope="col">Category Name</th>     
        <th scope="col">Name</th>           
        <th scope="col">image</th>
        <th scope="col">banner</th>
        <th scope="col">status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <% subcategory.forEach((element,index)=>{%>
            <tr>
             
                <td><%= index+1 %></td>
                <td><%= element.sequence %></td>
                <td><%= element.Cat?.name %></td>
                <td><%= element.name %></td>
                
                <td><img style="height: 50px; width: 50px;" src="/userimage/<%= element.image %>"> </td>
                <td><img style="height: 50px; width: 50px;" src="/userimage/<%= element.banner %>"> </td>
                  
                    <!-- add status --> 
                      <% if(element.status==1){ %>                               
                       
                    <td><span class="badge bg-label-success text-success me-1">Active</span></td>
                      <% } else { %> 
                      <td><span class="badge bg-label-danger text-danger me-1">Inactive</span></td>            
                      <% } %> 
                            
                    <td>
                        <a class="btn btn-primary" href="/getSubCategoryUpdatePage?subcategoryId=<%= element.id %>" >update</a>
                        <button class="btn btn-danger deleteSubCategory" value="<%= element.id %>" >delete</button>
                        <%= element.id %>
                     
                          <!-- status change -->
                          <% if(element.status==1){ %>                               
                            <button class="btn btn-danger subC" value="<%=element.id%>"  >Inactive</button>
                              <% } else { %> 
                              <button class="btn btn-success subC" value="<%=element.id%>" >Active</button>
                              
                              <% } %> 
                    </td>
                  </tr>
                  <%  }) %>
              
    
    </tbody>
  </table>
 
</div>

</div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
 <script src="/js/SubCategoryAjax.js"></script>
 
 <%-include("../layout/footer")%>

  </body>
</html>