
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script  src="/js/jquery.min.js"></script>

    <title>Sub Category</title>
  </head>
  <body class="bg-info">




    <div class="container mt-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Child category</h4>
          <p class="card-description">
         child form layout
          </p>
          <form class="forms-sample" id="ChildCategory" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="exampleInputEmail1">Child Category name</label>
              <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
            </div>
    
        <div class="form-group">
          <label for="exampleInputEmail1">Sequence</label>
          <input type="number" name="sequence" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter sequence">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Image</label>
          <input type="file" name="image" class="form-control" id="exampleInputPassword1" placeholder="select image">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="exampleInputPassword1">Category</label>
    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Category</label>
                        </div>
                        <select name="category" class="custom-select form-control" id="inputGroupSelect01">
                          <option selected>select category...</option>
                          <%category.forEach((element)=>{%>
                            <option value="<%=element.id%>"><%=element.name%></option>
                            <%})%>
                          
                         
                        </select>
            
                      </div>

                </div>
                <div class="col-6">
                    <label for="exampleInputPassword1">SubCategory</label>
    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Sub Category</label>
                        </div>
                        <select name="subcategory" class="custom-select form-control" id="inputGroupSelect01">
                          <option selected>select sub category...</option>
                          <%subcategory.forEach((element)=>{%>
                            <option value="<%=element.id%>"><%=element.name%></option>
                            <%})%>
                          
                         
                        </select>
            
                      </div>
                </div>


            </div>
            
          </div>

         
        <div class="form-group">
            <label for="exampleInputPassword1">Status</label>
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Status</label>
                </div>
                <select name="status" class="custom-select form-control" id="inputGroupSelect01">
                  <option selected>select status...</option>
                  <option value="1">Active</option>
                  <option value="0">Inactive</option>
                 
                </select>
    
              </div>
          
        
        
            </div>
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
     
   
    <%-include("../layout/footer")%>
   
 <script  src="/js/jquery.min.js"></script>
<script  src="/js/sweetalert.min.js"></script>
<script src="/js/childCategoryAjax.js" ></script>

    
  </body>
  <script>

$(document).on('submit','form#ChildCategory' ,function (event) {
    event.preventDefault();
       var formData = new FormData($(this)[0]);
    $.ajax({
        url: '/ChildCategory',
        type: 'POST',
        data: formData,
        async: false,
        success: function (data) {
          console.log(data)
          if(data=="success")
          {         
            swal("Added!", `${data}`, "success")
            .then(()=>{
                window.location.reload()
            });
            
           
          } 
          else{
            swal("error!", `${data}`, "success");
            
          }   
        },
        cache: false,
        contentType: false,
        processData: false
    });
    
})





  </script>
</html>